<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.seocoo.ggys.module.area.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="net.seocoo.ggys.module.area.entity.AreaDO">
      <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="parentId" column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result property="cityCode" column="city_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result property="areaDistrictCode" column="area_district_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result property="center" column="center" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result property="level" column="level" javaType="net.seocoo.ggys.module.area.constants.LevelEnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, city_code, area_district_code, name, center, level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.seocoo.ggys.module.area.entity.AreaDO">
    insert into area (id, parent_id, city_code, 
      area_district_code, name, center, 
      level)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, 
      #{areaDistrictCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{center,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.seocoo.ggys.module.area.entity.AreaDO">
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="areaDistrictCode != null">
        area_district_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="center != null">
        center,
      </if>
      <if test="level != null">
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaDistrictCode != null">
        #{areaDistrictCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="center != null">
        #{center,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.seocoo.ggys.module.area.entity.AreaDO">
    update area
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaDistrictCode != null">
        area_district_code = #{areaDistrictCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="center != null">
        center = #{center,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.seocoo.ggys.module.area.entity.AreaDO">
    update area
    set parent_id = #{parentId,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_district_code = #{areaDistrictCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      center = #{center,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义-->
  <!--查询省份,市list-->
  <select id="queryAreaCodeList" parameterType="net.seocoo.ggys.module.area.entity.AreaDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    <where>
      <if test="level !=null ">
        and level = #{level}
      </if>
      <if test="areaDistrictCode != null and areaDistrictCode !=''">
        and area_district_code REGEXP '^${areaDistrictCode}'
      </if>
    </where>
  </select>

  <!--查询区县list-->
  <select id="queryCountyList" parameterType="net.seocoo.ggys.module.area.entity.AreaDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    <where>
      <if test="level !=null ">
        and (level = #{level} or level = 'street')
      </if>
      <if test="areaDistrictCode != null and areaDistrictCode !=''">
        and area_district_code REGEXP '^${areaDistrictCode}'
      </if>
    </where>
  </select>

  <!--查询list-->
  <select id="queryAreaList" parameterType="net.seocoo.ggys.module.area.entity.AreaDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    <where>
      <if test="level !=null ">
        and level = #{level}
      </if>
      <if test="areaDistrictCode != null ">
        and area_district_code = #{areaDistrictCode}
      </if>
      <if test="cityCode != null">
        and city_code = #{cityCode}
      </if>
    </where>
  </select>

</mapper>