<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.seocoo.ggys.module.merchant.mapper.SecondClassifyMapper">
  <resultMap id="BaseResultMap" type="net.seocoo.ggys.module.merchant.entity.SecondClassifyDO">
      <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="uuid" property="uuid" javaType="java.lang.String" jdbcType="CHAR" />
      <result column="first_classify_id" property="firstClassifyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="sort_number" property="sortNumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="img_url" property="imgUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="create_user_id" property="createUserId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="update_date" property="updateDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="update_user_id" property="updateUserId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="can_deleted" property="canDeleted" javaType="net.seocoo.ggys.core.constants.YesNoEnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, first_classify_id, name, sort_number, img_url, create_date, create_user_id, 
    update_date, update_user_id, can_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from second_classify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from second_classify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="net.seocoo.ggys.module.merchant.entity.SecondClassifyDO">
    insert into second_classify (id, uuid, first_classify_id, 
      name, sort_number, img_url, 
      create_date, create_user_id, update_date, 
      update_user_id, can_deleted)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{firstClassifyId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{sortNumber,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{canDeleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="net.seocoo.ggys.module.merchant.entity.SecondClassifyDO">
    insert into second_classify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="firstClassifyId != null">
        first_classify_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sortNumber != null">
        sort_number,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="canDeleted != null">
        can_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="firstClassifyId != null">
        #{firstClassifyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null">
        #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="canDeleted != null">
        #{canDeleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.seocoo.ggys.module.merchant.entity.SecondClassifyDO">
    update second_classify
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="firstClassifyId != null">
        first_classify_id = #{firstClassifyId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null">
        sort_number = #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="canDeleted != null">
        can_deleted = #{canDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.seocoo.ggys.module.merchant.entity.SecondClassifyDO">
    update second_classify
    set uuid = #{uuid,jdbcType=CHAR},
      first_classify_id = #{firstClassifyId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sort_number = #{sortNumber,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      can_deleted = #{canDeleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <!--自定义sql-->
  <delete id="delete" parameterType="java.lang.Integer">
    update  second_classify
    set can_deleted = 'Y'
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="list" parameterType="net.seocoo.ggys.core.base.BaseQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from second_classify
    <include refid="Base_Where" />
    <if test="orderBy != null and orderBy != ''">
      order by ${orderBy}
    </if>
  </select>

  <sql id="Base_Where">
    where 1=1 and can_deleted = 'N'
    <if test="id !=null">
      and  id = #{id,jdbcType=INTEGER}
    </if>
    <if test="uuid != null">
      and  uuid = #{uuid,jdbcType=CHAR}
    </if>
    <if test="name != null">
      and name like concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    <if test="firstClassifyId != null">
      and  first_classify_id = #{firstClassifyId,jdbcType=INTEGER}
    </if>
  </sql>

</mapper>